<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="MemberVO">
		INSERT INTO TBL_MEMBER 
		VALUES(SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberPassword}, #{memberName})
	</insert>

	<select id="select" parameterType="MemberVO" resultType="String">
		SELECT MEMBER_EMAIL 
		FROM TBL_MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
	</select>

	<select id="selectIdByMemberEmail" parameterType="String" resultType="Long">
		SELECT ID
		FROM TBL_MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>

</mapper>