<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<select id="selectAll" parameterType="Long" resultType="OrderDTO">
		SELECT 
			TBO.ID,
			TBO.MEMBER_ID,
			TBO.PRODUCT_ID,
			TBO.PRODUCT_COUNT,
			TBO.PRODUCT_COUNT * TBP.PRODUCT_PRICE AS "ORDER_TOTAL_PRICE",
			TBP.PRODUCT_NAME,
			TBP.PRODUCT_PRICE,
			TBP.PRODUCT_STOCK,
			TBM.MEMBER_EMAIL,
			TBM.MEMBER_NAME
		FROM TBL_ORDER TBO
		JOIN TBL_PRODUCT TBP
		ON TBO.PRODUCT_ID = TBP.ID
		JOIN TBL_MEMBER TBM
		ON TBO.MEMBER_ID = TBM.ID
		WHERE TBM.ID = #{memberId} 
		ORDER BY TBP.ID DESC
	</select>
	
	<select id="select" parameterType="OrderDTO" resultType="OrderDTO">
		SELECT 
			TBO.ID,
			TBO.MEMBER_ID,
			TBO.PRODUCT_ID,
			TBO.PRODUCT_COUNT,
			TBO.PRODUCT_COUNT * TBP.PRODUCT_PRICE AS "ORDER_TOTAL_PRICE",
			TBP.PRODUCT_NAME,
			TBP.PRODUCT_PRICE,
			TBP.PRODUCT_STOCK,
			TBM.MEMBER_EMAIL,
			TBM.MEMBER_NAME
		FROM TBL_ORDER TBO
		JOIN TBL_PRODUCT TBP
		ON TBO.PRODUCT_ID = TBP.ID
		JOIN TBL_MEMBER TBM
		ON TBO.MEMBER_ID = TBM.ID
		WHERE TBM.ID = #{memberId} AND TBO.ID = #{id}
		ORDER BY TBP.ID DESC
	</select>

	<insert id="insert" parameterType="OrderVO">
		INSERT INTO TBL_ORDER 
		VALUES(SEQ_ORDER.NEXTVAL, #{memberId}, #{productId}, #{productCount})
	</insert>
	
	

</mapper>